# -*- coding: utf-8; -*-
import sys
sys.path.append("{{ engine_folder }}")
import unittest
import {{ test.engine_import() }}

class {{ test.camel_case_name() }}TestCase({{ test.engine }}):
    {% if test.description %}"""{{ test.description }}"""{% endif %}
    settings = {{ settings }}
    preconditions = {{ test.preconditions }}
    
    def test_{{ test.underscore_case_name() }}(self):
        {% for step in test.scenario.steps %}self.{{ step.underscore_case_name() }}({{ step.arguments.to_python() }})
        {% endfor %}

if __name__ == "__main__":
    unittest.main()

